{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}
    <section class="container flex-col text-center">
        <div class="error">
            <ul class="errs no-style">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li class="err"> {{ error }} </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>

        <form class="login" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="form-holder flex-col">
                
                <input type="text" name="username" placeholder="Username" id="id_username" required>
                <input type="password" name="password" placeholder="password" id="id_password" required>
                
            </div>

            <button class="round pointer" type="submit" value="login">Login</button>
            <p class="signup">Don't have an account yet?</p>
            <a class="no-deco" href="{% url 'users:signup' %}">Sign up</a>
        </form>
    </section>

{% endblock %}