{% extends "main/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}

<section class="container flex-col">
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}

        {% for field, val in user.items %}
        <p> {{field}}: {{val}} </p>
        {% endfor %}
        <button class="round pointer" type="submit">Log out</button>
    </form>
</section>

{% endblock %}