{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}
    <section class="container flex-c text-center">

        <form class="signup login" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <h2>Sign up</h2>
            <div class="form-holder flex-col">
                
                <input type="text" name="username" placeholder="Username" id="id_username" required>
                <input type="password" name="password" placeholder="password" id="id_password" required>
                
            </div>

            <button class="round pointer" type="submit" value="login">Sign up</button>
        </form>
    </section>

{% endblock %}