{% extends "main/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}
<section class="container flex-col text-center">

    <form class="add" action="{% url 'drugs:add' %}" method="post">
        {% csrf_token %}
        <h1>Add Drug</h1>
        {% if form.errors %}
            <div class="error">
                <ul class="errs no-style">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li class="err"> {{ error }} </li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}

        <div class="form-holder grid-2 django-form">
            
            {% for field in form %}
            <div class="{{field.field.widget.attrs.class}}">
                <label for="{{field.auto_id}}"> {{field.label}} </label>
                {{field}}

            </div>
            {% endfor %}

            <!-- <div class="choice tab hidden">
                <label for="id_cd_tab">Cd tab:</label>
                <input type="text" name="cd_tab" id="id_cd_tab">
            </div>

            <div class="choice tab hidden">
                <label for="">No Packs:</label>
                <input type="text" name="no_packs" id="">
            </div> -->

        </div>

        <button class="round pointer" type="submit">Add</button>
    </form>
    <p>Use a <a href="{% url 'drugs:add-csv' %}">CSV file</a> instaed</p>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'main/scripts/forms.js' %}" defer></script>
{% endblock %}