{% extends "main/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}
<section class="container flex-c text-center">

    <form class="add" action="{% url 'drugs:add' %}" method="post">
        {% csrf_token %}
        <h1>Drugs</h1>

        <table class="drugs">
            <thead>
                {% for head in drugs.0.table_head %}
                <th>{{head.upper}}</th>
                {% endfor %}
            </thead>
            {% for drug in drugs %}
            <tr class="drug {{drug.exp_class}}">
            {% for field in drug.tabulate %}
                <td class="drug-field">
                    {{field}}
                </td>    
            {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <!-- <button class="round pointer" type="submit">Add</button> -->
    </form>
</section>
{% endblock %}