{% extends "main/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/forms.css' %}">
{% endblock %}

{% block content %}
<section class="container flex-c text-center">

    <form class="add" action="{% url 'drugs:add' %}" method="post">
        {% csrf_token %}
        <h1>Drugs</h1>
        
        {% for drug in drugs %}
        <p> {{drug.name}} </p>
        {% endfor %}

        <button class="round pointer" type="submit">Add</button>
    </form>
</section>
{% endblock %}