{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <h1>Books</h1>

    <div class="flex-col">
        {% for item, val in month.values.0.items %}
        <p>
            <b>{{item}}: </b>
            {{val}}
        </p>
        {% endfor %}

        <div class="flex-c">
            <a class="no-deco" href="#"><button class="round pointer">Sales</button></a>
            <a class="no-deco" href="#"><button class="round pointer">Purchases</button></a>
            <a class="no-deco" href="#"><button class="round pointer">Debits</button></a>
            <a class="no-deco" href="#"><button class="round pointer">Credits</button></a>
        </div>
    </div>
</section>
{% endblock %}