<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    {% block styles %}
    {% endblock %}

    <title>Rifman RX</title>
</head>
<body>

    <header class="container flex">
        <div class="logo">
            <h2><a class="no-deco" href="/">RIFMAN RX</a></h2>
        </div>

        <nav class="center">
            <ul class="flex no-style no-deco">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>

        <div class="sideicons flex">
            <a href="{% url 'users:profile' %}"><img class="svg white" src="{% static 'main/assets/svg/circle-user.svg' %}" alt=""></a>
            <img id="side-toggle" class="svg white pointer" src="{% static 'main/assets/svg/menu-burger.svg' %}" alt="">
        </div>

        <nav class="sidebar flex-col hidden">
            <p class="flex"><span class="close pointer">
                <img class="svg close" src="{% static 'main/assets/svg/circle-xmark.svg' %}" alt="">
            </span></p>
             <div class="search flex">
                 <input type="search" name="search" placeholder="Search Drugs">
                 <img class="svg search pointer" src="{% static 'main/assets/svg/search.svg' %}" alt="">
             </div>
             <hr />
 
             <ul class="flex-col no-style no-deco">
                 <li><a href="{% url 'drugs:view' %}">View Drugs</a></li>
                 <li><a href="{% url 'drugs:add' %}">Add Drug</a></li>
                 <li><a href="{% url 'books:view' %}">Records</a></li>
                 <li><a href="#">Consult</a></li>

                 <li class="nav-hidden"><a href="/contact">contact Us</a></li>
                 <li class="nav-hidden"><a href="/about">About Us</a></li>
             </ul>
         </nav>
    </header>
    

    {% block unknown %}
    {% endblock %}

    {% block content %}
    {% endblock %}


    <footer>
        © Uyonoh, 2024
    </footer>
    <script src="{% static 'main/scripts/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>