{% extends 'main/base.html' %}
{% load static %}
    
{% block content %}
    <section class="container">
        <div class="sec grid gc">
            <img src="{% static 'main/assets/images/hold.jpeg' %}" alt="">
            <div class="txt">
                <h2>TEXT</h2>
                <p>
                    Integer et massa a pulvinar laoreet. Morbi facilisis pellentesque dui. Integer sit amet consectetur arcu. Vivamus id ligula iaculis, dictum libero vel, pellentesque dolor. Vivamus erat lectus, ultricies a tempus quis, gravida at eros. Phasellus a massa non purus gravida cursus non quis magna. Phasellus tincidunt dui id dolor tempor, id aliquet risus ultricies. Sed aliquam hendrerit est in lacinia. Maecenas mattis mauris non dolor blandit mollis. Donec at nulla facilisis, vulputate velit ac, fermentum tellus. Integer vehicula elementum risus, eget blandit nunc venenatis id. Mauris est massa, fringilla ac est a, malesuada rhoncus enim. Ut ultricies eros in congue sodales.
                </p>
            </div>
        </div>

        <div class="sec grid gl">
            <img src="{% static 'main/assets/images/hold.jpeg' %}" alt="">
            <div class="txt">
                <h2>TEXT</h2>
                <p>
                    Integer et massa a pulvinar laoreet. Morbi facilisis pellentesque dui. Integer sit amet consectetur arcu. Vivamus id ligula iaculis, dictum libero vel, pellentesque dolor. Vivamus erat lectus, ultricies a tempus quis, gravida at eros. Phasellus a massa non purus gravida cursus non quis magna. Phasellus tincidunt dui id dolor tempor, id aliquet risus ultricies. Sed aliquam hendrerit est in lacinia. Maecenas mattis mauris non dolor blandit mollis. Donec at nulla facilisis, vulputate velit ac, fermentum tellus. Integer vehicula elementum risus, eget blandit nunc venenatis id. Mauris est massa, fringilla ac est a, malesuada rhoncus enim. Ut ultricies eros in congue sodales.
                </p>
            </div>
        </div>

        <hr class="divider" />

        <div class="sec grid gr">
            
            <div class="txt">
                <h2>TEXT</h2>
                <p>
                    Integer et massa a pulvinar laoreet. Morbi facilisis pellentesque dui. Integer sit amet consectetur arcu. Vivamus id ligula iaculis, dictum libero vel, pellentesque dolor. Vivamus erat lectus, ultricies a tempus quis, gravida at eros. Phasellus a massa non purus gravida cursus non quis magna. Phasellus tincidunt dui id dolor tempor, id aliquet risus ultricies. Sed aliquam hendrerit est in lacinia. Maecenas mattis mauris non dolor blandit mollis. Donec at nulla facilisis, vulputate velit ac, fermentum tellus. Integer vehicula elementum risus, eget blandit nunc venenatis id. Mauris est massa, fringilla ac est a, malesuada rhoncus enim. Ut ultricies eros in congue sodales.
                </p>
            </div>
            <img src="{% static 'main/assets/images/hold.jpeg' %}" alt="">
        </div>
    </section>

{% endblock %}